.container {
  width: 85%;
  margin: 0 auto;
  padding: 3rem 0 5rem;
}

.colorLight {
  color: rgb(94, 94, 94);
}

.colorDark {
  color: rgb(177, 176, 176);
}

.box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  grid-row-gap: 3rem;
  grid-column-gap: 2rem;
}

@media (max-width: 1215px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .box {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    grid-row-gap: 3.5rem;
    grid-column-gap: 3.2rem;
    padding: 2.8rem 0 3.5rem;
  }
}

@media (max-width: 900px) {
  .box {
    grid-row-gap: 3rem;
    grid-column-gap: 2.5rem;
  }
}

@media (max-width: 768px) {
  .box {
    grid-column-gap: 2.2rem;
    grid-template-columns: repeat(1, 1fr);
    width: 85%;
  }
}

@media (max-width: 550px) {
  .box {
    width: 100%;
  }

  .container {
    width: 92%;
  }
}
