
.cardWrapper {
  /* dark version */
  background: linear-gradient(147.16deg, rgba(41, 41, 41, 1) 14.71%, rgba(41, 41, 41, 0.9) 114.16%);
 -webkit-box-shadow: 1px 1px 1px #424242;
  box-shadow: 1px 1px 1px #424242;

/* light version */
  /* background: linear-gradient(147.16deg, rgba(41, 41, 41, 1) 14.71%, rgba(41, 41, 41, 0.9) 114.16%); */
}


.card {
  text-align: center;
}

.titleWrapper {
  padding-top: 1.5rem;
}

.img {
  width: 70px;
  height: 70px;
  object-fit: scale-down;
}


.title {
  font-weight: 500;
  font-size: 1.1rem;
  color: #00f5e0;
}



.description {
  width: 90%;
  margin: 0 auto;
  padding: 2rem 0;
}

.descriptionText {
  color: #fff;
  font-size: 14px;
  text-align: justify;
}

.viewProjectWrapper {
  
  padding-bottom: 1.2rem;
}

.viewProject {
  width: 90%;
  margin: 0 auto;
  display:flex;
  justify-content: space-between;
  
}
