.img {
    width:70px;
    height:70px;
    object-fit: scale-down;
}

.bgDark {
    background-color: rgb(85, 85, 85);
    box-shadow: 3px 3px 3px #686868;
}

.bgLight {
    box-shadow: 5px 5px 10px #c4c4c4;
}

.colorLight {
    color:#251C41;
}

.colorDark {
color:#fff;
}


.title {
    font-weight:500;
    font-size:1.1rem;
    margin:0.3rem 0.6rem 0.7rem;
    padding:0.6rem;
    border-radius:0.3rem;
  }

.card {
    border-radius:0.3rem;
    text-align: center;
    padding:0.9rem 0.8rem 1rem;
    position:relative;
}



