.container {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.container:hover {
    cursor: pointer;
}

.scrollIcon {
    font-size:3rem;
    color: #00f5e0;
}


@media(max-width:550px) {
    .container {
        bottom:1.5rem;
        right:1.5rem;
    }

    .scrollIcon {
        font-size:2.5rem;
    }
}