.header {
   background-color: rgb(253, 253, 253);
   box-shadow: 0 3px 2px -2px rgb(247, 246, 244);
}

.container {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:85%;
    margin:0 auto;
    padding:3rem 0 0;
}

@media(max-width: 1100px) {
    .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}