.button {
    border: none;
    padding:0.65rem 1rem;
    background-color: #79d3ab;
    color: rgb(41, 41, 41);
    font-weight: 700;
}

.button:hover {
    cursor: pointer;
    background-color:#79d3ab;
    transition:0.3s ease-in-out;
}