.container {
    min-height: calc(100vh - 205.76px);
    width:85%;
    margin: 0 auto;
    display:flex;
    align-items: center;
}

.textBox { 
    background-color: rgb(110, 110, 110);
    display: flex;
    align-items: center;
    justify-content: center;
    width:20%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    box-shadow: 5px 5px 10px #cacaca;
}

.text {
  font-size:2.2rem;
  color: #fff;
 
}

.main {
    display:flex;
    width:100%;
}

.box {
     width:80%;
    border-right:3px solid rgb(110, 110, 110);
    display:flex;
    justify-content: center;
   
}

.form {
    display:flex;
    flex-direction: column;
    width:50%;
}

.input {
  margin:0.3rem 0 1rem;
  padding:0.7rem 0.4rem;
  border:2px solid rgb(110, 110, 110);
  border-radius: 0.3rem;
  color:rgb(94, 94, 94);
}

.label {
    color: rgb(110, 110, 110);
    font-weight: 500;
}

.button {
    border: none;
    padding:0.9rem 0;
    border-radius: 0.3rem;
    background-color: rgb(110, 110, 110);
    color:#fff;
    font-weight: 500;
}

.button:hover {
    cursor: pointer;
}
