.listItem {
  list-style: none;
  padding: 0.3rem 0;
  font-size: 0.9rem;
  font-weight: 500;
  color: #fff;
   display: -webkit-flexbox;
  display: flex;
  align-items: center;
   -webkit-align-items: center;
   font-family: 'Oswald', sans-serif;
}

.iconBox {
    display:flex;
}

.circleIcon {
  font-size: 0.6rem;
  margin-right: 0.4rem;
  color: #00f5e0;
}
