.container {
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0 2.5rem;
  border-radius: 50%;
  box-shadow: 0 6px 4px -2px #00f5e0;
  min-height: 320px;
}

.bgLight {
  background: linear-gradient(147.16deg, rgba(90, 90, 90, 0.2) 14.71%, rgba(90, 90, 90, 0.1) 114.16%);
}

.bgDark {
  background: linear-gradient(147.16deg, rgba(221, 221, 221, 0.3) 14.71%, rgba(221, 221, 221, 0.2) 114.16%);
}

.textTitle {
  font-weight: 500;
  padding: 0.7rem 0;
  width:50%;
  font-size: 1.6rem;
  color: #00f5e0;
}


.itemList {
  margin-top:0.6rem;
}

.flex-basis-40 {
  flex-basis: 40%;
}

.flex-basis-30 {
  flex-basis: 30%;
}


