.container {
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  background-color: #ebfdf5;
}

.containerLight {
    border: 3px solid #79d3ab;
}

.containerMedium {
    border: 3px solid #79d3ab;
}

.containerDark {
    border: 3px solid #79d3ab;
}

.textTitle {
  font-weight: 500;
  padding: 0.7rem 0;
  width:50%;
  font-size: 1.6rem;
}


.itemList {
  margin-top:0.6rem;
}

.titleLight {
    color: #251c41;
    background-color: #79d3ab;
}

.titleMedium {
    color: #251c41;
    background-color: #79d3ab;
}

.titleDark {
    color: #251c41;
    background-color: #79d3ab;
}

