.listItem {
  list-style: none;
  padding: 0.3rem 0;
  font-size: 0.9rem;
  font-weight: 500;
   display: -webkit-flexbox;
  display: flex;
  align-items: center;
   -webkit-align-items: center;
}

.colorLight {
  color: #fff;
}

.colorDark {
  color: rgb(41, 41, 41);
}

.iconBox {
    display:flex;
}

.circleIcon {
  font-size: 0.6rem;
  margin-right: 0.4rem;
  color: #00f5e0;
}
