.technologiesBox {
    display:flex;
    justify-content: center;
    align-items: center;
}

.titleTech {
    margin-right:0.4rem;
}

.techItem {
    padding:0.2rem 0.3rem;
    background-color: #fff;
    border-radius: 0.1rem;
    color: gray;
}

.techItem:not(:last-child) {
    margin-right:0.3rem;
}