
.lightBg {
  color: #000;
  background-color: #AAF0D1;
}

.container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 4rem 0;
}

.text {
  width: 65%;
  font-size: 17px;
  text-align: justify;
  line-height: 1.4rem;
}

.text:not(:last-child) {
  margin-bottom: 1rem;
}

.text:nth-child(2) {
  text-indent: 2rem;
}

.box {
  width: 100%;
  position: relative;
  min-height: 450px;
}


.paper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.3rem 0;
}

.leftHalf {
position: absolute;
top:0;
left: 0;
width:50%;
height: 100%;
border: solid #fff;
border-width: 2px 0px 2px 2px;
}

.title {
  font-size: 2.1rem;
  margin: 1rem 0 2.3rem;
  padding: 0.2rem 0.4rem;
  font-weight: bold;
  border-radius: 0.3rem;
  font-family: 'Cambo', serif;
  text-transform: uppercase;
}

@media (max-width: 1315px) {
  .paper {
    padding: 2rem 0;
  }

  .title {
    margin: 0.3rem 0 1.4rem;
  }
}

@media (max-width: 1000px) {
  .paper {
    width: 80%;
  }

  .rightGlue {
    width: 20%;
    height: 180px;
  }

  .leftGlue {
    width: 20%;
    height: 180px;
  }
}


@media(max-width:670px) {


    .text {
        width:70%;
    }
    .box {
        margin:5rem 0;
    }

}

@media(max-width:550px) {
    .text {
        text-align: start;
        width:77%;
    }

    .container {
      width: 93%;
     
    }
}
