.container {
    padding:2.5rem 0;
    text-align: start;
    position: relative;
    width: fit-content;
    color: #00f5e0;
}

.textStyle {
    font-size:2.5rem;
    letter-spacing: 0.1rem;
}

@media(max-width:600px) {

    .container {
        padding:1.8rem 0;
    }
    .textStyle {
        font-size:1.9rem;
    }
}