.container {
    z-index: 1;
    background-color: rgb(253, 253, 253);
    flex-basis: 25%;
    border-radius: 0.4rem;
    box-shadow: 0px 0px 3px 3px #ecfeff;
}

.textTitle {
    background-color: #0c8b8d;
    border-radius: 0.4rem;
    color:#fdc87c;
    font-weight: 500;
    padding:0.8rem 0;
    font-size:1.4rem;
}

