.container {
    z-index: 1;
    background-color: rgb(245, 243, 243);
    flex-basis: 25%;
    padding:1rem 0.5rem;
    border-radius: 0.4rem;
}

.textTitle {
    background-color: gray;
    color:#fff;
    border-radius: 0.2rem;
    padding:0.5rem 0;
    margin-bottom:0.7rem;
    font-size:1.4rem;
}