.container {
    width:85%;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:1.5rem 0;
    box-shadow: 0 4px 2px -2px rgb(251, 251, 251);
}

.navDark {
    background-color: rgb(41, 41, 41);
}