.container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

.navDark {
  background-color: rgb(44, 44, 44);
}

.navLight {
  background-color: #fff;
}
