.btn {
    border:none;
    background-color: rgb(248, 247, 247);
    width:3.6rem;
    height:3.6rem;
    border-radius:50%;
    position:absolute;
    top:1rem;
    right:1rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projectText {
    text-transform: uppercase;
    font-size:0.5rem;
    letter-spacing: 0.04rem;
    font-weight: 500;
    margin-top:0.3rem;
    color:rgb(73, 73, 73);
}

.btn:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 0 10px rgb(206, 204, 204);
    box-shadow: 0 0 10px rgb(206, 204, 204);
    transition: .3s ease-in-out;
}

.arrowRight {
    margin-top:0.1rem;
    font-size:0.8rem;
    color:rgb(73, 73, 73);
}