.btn {
    border:none;
    background-color: rgb(248, 247, 247);
    color:gray;
    width:3.2rem;
    height:3.2rem;
    border-radius:50%;
    font-weight:500;
    font-size:0.6rem;
    position:absolute;
    top:1rem;
    right:1rem;
}

.btn:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 0 10px rgb(206, 204, 204);
    box-shadow: 0 0 10px rgb(206, 204, 204);
    transition: .3s ease-in-out;
}