.container {
  width:30px;
  padding:0.1rem;
  border-radius: 0.6rem;
  border:2px dotted;
  text-align: center;
  border-color: #AAF0D1;
  color: #AAF0D1;
}

.container:hover {
  cursor: pointer;
  transition: .3s ease-in-out;
  
}

.icon {
  font-size:1.2rem;
}
