.container {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:85%;
    margin:0 auto;
    padding:4rem 0.5rem;
}

.colorLight {
    color: rgb(41, 41, 41);
}

.colorDark {
    color:#fff;
}

.textBox {
    display:flex;
    align-items: center;
}

.text {
    font-weight:300;
    font-size:15px;
    margin-right: 0.5rem;
    letter-spacing: 0.05rem;
}

.portfolioIcon {
    cursor: pointer;
    font-size:1.1rem;
    border-radius: 50%;
}

.icons {
    font-size: 1.6rem;
    border-radius: 25%;
   padding:0.7rem;
}

.icons:not(:last-child) {
    margin-right:1rem;
}

.icons:hover {
    transition: .3s ease-in-out;
    background-color: #79d3ab;
}

@media(max-width: 768px) {
    .container {
        flex-direction: column-reverse;
        padding:4.5rem 0 3.5rem;
    }

    .iconsBox {
        border-bottom:1px solid rgb(219, 217, 217);
        padding-bottom:0.9rem;
        margin-bottom:0.9rem;
    }
}

@media(max-width: 550px) {
    .container {
        width:100%;
    }
}