@import url("https://fonts.googleapis.com/css2?family=Cambo&family=Oswald&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.notScrollable {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.bgDark {
  background: linear-gradient(
    30deg,
    #1c1636 0%,
    rgb(17, 14, 36) 25%,
    rgb(13, 10, 29) 50%,
    rgb(10, 7, 24) 75%,
    #000000 100%
  );
}

.bgLight {
  background: linear-gradient(
    30deg,
    #fbffd4 0%,
    #fbffd5 25%,
    #fcffd9 50%,
    #fcfdde 75%,
    #feffe6 100%
  );
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}

p,
span,
a,
button {
  font-family: "Cambo", sans-serif;
}
