@import url("https://fonts.googleapis.com/css2?family=Cambo&family=Oswald&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bgDark {
  background: linear-gradient(
    30deg,
    #5c7a6b 0%,
    rgb(56, 75, 66) 0%,
    #26332d 40%,
    rgb(31, 39, 35) 60%,
    rgb(25, 32, 29) 80%,
    rgb(3, 3, 3) 100%
  ) !important;
}

.bgLight {
  background: linear-gradient(
    30deg,
    #dafffb 0%,
    rgb(245, 253, 251) 20%,
    rgb(244, 253, 250) 40%,
    rgb(243, 253, 250) 60%,
    rgb(244, 248, 247) 80%,
    #fff 100%
  );
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
 
 
}

p, span, a, button {
  font-family: 'Cambo', sans-serif;
}
