.container {
  display: flex;
  align-items: center;
}

.burgerIcon {
  display: none;
}

.normalMenu {
  display: block;
}

.burgerMenu {
  display: none;
}

.colorLight {
  color: #251c41;
}

.colorDark {
  color: #fff;
}

.bgLight {
 background-color: #000;
}

.bgDark {
   background-color: #fff;
}

.bgLight {
  background-color: #fdfdfd;
}

.bgDark {
  background-color: rgb(44, 44, 44);
}


@media(max-width: 768px) {
  .burgerMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }

  .burgerIcon {
    z-index: 3;
    margin-left: 1.2rem;
    cursor: pointer;
    font-size: 1.9rem;
    display: block;
  }
  
  .burgerMenu.open {
    transform: translateX(0%);
  }

  .normalMenu {
    display: none;
  }
}


