.container {
    width:50%;
}

.title {
    text-transform: capitalize;
    font-size: 3rem;
    word-spacing: 0.5rem;
    font-family: 'Sedgwick Ave', cursive;
    letter-spacing: 0.1rem;
}

.dark {
    color: #251C41;
    margin-bottom:0.2rem;
}

.orange {
    color:#EF9924;
    margin-bottom: 1.1rem;
}

.about {
    margin-bottom: 1.5rem;
    text-align: justify;
    line-height: 1.3rem;
}