.container {
    width:85%;
    margin:0 auto;
    display:flex;
    align-items: center;
    min-height: calc(100vh - 205.76px);
}

.text {
    color:#251C41;
    width:60%;
    text-align: justify;
    font-weight: 400;
    font-family: 'Merriweather', serif;
}

.text:not(:last-child) {
    margin-bottom: 1.5rem;
}

.box {
    position: relative;
    display:flex;
    justify-content: center;
   
}
.paper {
    width:60%;
    min-height:500px;
    -webkit-box-shadow: 0 0 70px rgb(99, 99, 99);
        box-shadow: 0 0 70px rgb(99, 99, 99);
    border-radius: 0.3rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:1.3rem 0;
    z-index: 5;
}

.leftGlue {
    width:25%;
    height:250px;
    background-color: rgb(192, 192, 192);
    position:absolute;
    top:50%;
    transform: translateY(-75%);
    left: 0;
}

.rightGlue {
    width:25%;
    height:250px;
    background-color: rgb(192, 192, 192);
    position:absolute;
    top:50%;
    transform: translateY(-25%);
    right: 0;
}

.title {
    font-size: 1.8rem;
    margin:1rem 0 1.7rem;
    color:#251C41;
    padding:0.2rem 0.4rem;
    border-radius: 0.3rem;
    font-family: 'Sedgwick Ave', cursive;
}