.container {
    padding:0.6rem 1.2rem;
    border:2px solid orange;
    border-radius: 0.6rem;
    position: relative;
}

.icon {
    position:absolute;
    top:50%;
    
    transform: translateY(-50%);
}

.icon:hover {
    cursor: pointer;
}

.left {
    left:5%;
}

.right {
    right:5%;
}