.container {
  padding: 0.6rem 1.2rem;
  border-radius: 0.6rem;
  position: relative;
}

.containerLight {
  border: 2px solid #251c41;
}

.containerDark {
  border: 2px solid rgb(247, 241, 241);
}

.container:hover {
  cursor: pointer;
}

.icon {
  position: absolute;
  font-size: 1.1rem;
  top: 50%;
  transform: translateY(-50%);
}

.left {
  left: 6%;
  color: #251c41;
}

.right {
  right: 6%;
  color: rgb(247, 241, 241);
}
